::ng-deep .category-menu .mat-menu-content:not(:empty) {
  padding: 0 !important;
}

.category-menu-button {
  background-color: #363636;
  color: white;

  @media only screen and (max-width: 959.98px) {
    display: none;
  }
}
