<ng-container *appVar="{gtXSmall: 'gtXs' | matchMedia | async, categoryPage: categoryPage$ | async} as data">
  <ng-container *ngIf="data.gtXSmall && data.categoryPage">
    <button mat-flat-button disableRipple class="category-menu-button" [matMenuTriggerFor]="menu">
      <span> Shop by category</span>
      <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="category-menu" xPosition="before">
      <button routerLink="/search" [queryParams]="{searchText: category.name.toLowerCase()}"
              mat-menu-item *ngFor="let category of data.categoryPage.content; trackBy: trackCategory">
        {{category.name}}
      </button>
    </mat-menu>
  </ng-container>
</ng-container>
