.password-card-container {
  min-height: calc(100vh - 20.4rem);

  .password-tab {
    width: 40%;
    @media only screen and (max-width: 699.98px) {
      width: 80%;
    }
    margin: 2rem auto;

    .password-form-field {
      width: 100%;
      margin-bottom: 2rem;

    }

    .show-password-slider {
      height: 3rem;
      text-align: right;
      margin-right: 0.2rem;
    }
  }

  .action-buttons {
    display: flex;
    justify-content: center;

    ::ng-deep .mat-raised-button {
      margin: 2.5rem;
      width: 20rem;
      padding: 1.2rem;
    }
  }
}
