<mat-card class="password-card-container">
  <mat-card-header>
    <mat-card-title>Change Password</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="password-tab">
      <form id="passwordForm" [formGroup]="passwordForm">
          <mat-form-field appearance="outline" class="password-form-field">
            <mat-label>Current Password</mat-label>
            <input matInput formControlName="currentPassword"
                   [type]="hidePassword ? 'password' : 'text'" required>
            <mat-error
              *ngIf="currentPassword.invalid && (currentPassword.dirty || currentPassword.touched)">
              <div *ngIf="currentPassword.errors?.['required']">Please enter your current password.</div>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="password-form-field">
            <mat-label>New Password</mat-label>
            <input matInput formControlName="newPassword"
                   [type]="hidePassword ? 'password' : 'text'" required>
            <mat-error
              *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
              <div *ngIf="newPassword.errors?.['required']">Please enter your a new password.</div>
              <div *ngIf="newPassword.errors?.['pattern']">At least 1 letter, a number or symbol, at least 8 characters.</div>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="password-form-field">
            <mat-label>Confirm New Password</mat-label>
            <input matInput formControlName="confirmNewPassword" [errorStateMatcher]="matcher"
                   [type]="hidePassword ? 'password' : 'text'" required>
            <mat-error
              *ngIf="confirmNewPassword.invalid && (confirmNewPassword.dirty || confirmNewPassword.touched); else mismatch">
              <div *ngIf="confirmNewPassword.errors?.['required']">Please reenter your new password.</div>
            </mat-error>
            <ng-template #mismatch>
              <mat-error *ngIf="passwordForm.errors?.['mismatch']">
                New password do not match.
              </mat-error>
            </ng-template>
          </mat-form-field>

        <div class="show-password-slider">
          <mat-slide-toggle
            color="primary"
            (change)="onShowPasswordChange($event)">
            Show password
          </mat-slide-toggle>
        </div>
      </form>

    </div>

    <div class="action-buttons">
      <button mat-raised-button color="primary"
              [disabled]="!passwordForm.valid || !passwordForm.dirty"
              (click)="changePassword()">
        Change Password
      </button>
    </div>
  </mat-card-content>
</mat-card>
