::ng-deep .mat-menu-content:not(:empty) {
  padding: 0 !important;
}

::ng-deep .mat-menu-panel {
  min-height: 0 !important;
  max-width: 40rem !important;
}

::ng-deep .mat-card-header-text {
  margin-left: 0;
}

.cart-button {
  ::ng-deep .mat-button-focus-overlay {
    background-color: transparent;
  }
  margin-left: 0.7rem;
  @media only screen and (max-width: 599.98px) {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    min-width: 4rem;
  }
  background-color: #363636;
  color: white;
  .cart-button-text {
    padding-left: 0.7rem;
  }
}

.cart-item-container {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 2rem;

  .product-price {
    margin-top: 0.3rem;
    .price {
      margin-bottom: 0.3rem;
    }
  }

  a {
    text-decoration: none;
    color: #363636;
    margin-top: 1rem;
  }

  a:hover {
    text-decoration: underline;
    h2 {
      text-decoration: none;
    }
  }

  .cart-item-left {
    flex: 0 0 12rem;
  }

  .cart-item-right {
    flex: 20rem;
    @media only screen and (max-width: 399.98px) {
      flex: 100%;
    }

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .product-name {
      font-size: 120%;
    }

    .remove-item-button {
      .mat-icon-button {
        line-height: 0;
      }
      float: right;
    }
  }
}

.total {
  padding: 1rem;
  background-color: #c9c9c9;
  font-size: 150%;
  span {
    float: right;
  }
}

.button-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.action-button {
  width: 100%;
  height: 5rem;
}

