.container {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f3f3f3;
  height: 100vh;

  .card-container {
    // center content vertically and horizontally
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: black;
}

.login-card {
  margin-top: 3rem;
  $field-width: 32rem;
  max-width: 34rem;
  @media only screen and (max-width: 399.98px) {
    max-width: 28rem;
  }
  text-align: center;
  padding-bottom: 4.5rem;
  border-radius: 1rem;

  .login-card-header {
    height: 10rem;
    line-height: 3rem;
    width: $field-width;
    @media only screen and (max-width: 399.98px) {
      width: 26rem;
    }
    border-radius: 0.5rem 0.5rem 0 0;
    color: black;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
  }

  .login-form-field {
    width: $field-width;
    @media only screen and (max-width: 399.98px) {
      width: 26rem;
    }
    margin-bottom: 1rem;
  }

  .login-card-content {
    margin-bottom: 0;
  }

  .login-button {
    width: $field-width;
    @media only screen and (max-width: 399.98px) {
      width: 26rem;
    }
    height: 5rem;
  }

  .error-message {
    color: red;
  }
}
