.review-card-container {
  min-height: calc(100vh - 20.4rem);

  .review-empty {
    margin: 8rem auto;
    text-align: center;
  }

  .review-tab {
    padding: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-flow: row nowrap;
    @media only screen and (max-width: 749.98px) {
      flex-flow: row wrap;
    }

    .review-info {
      width: 65%;
      @media only screen and (max-width: 749.98px) {
        width: 100%;
      }

      display: flex;
      flex-flow: row wrap;
      margin: 3rem auto;

      .item-image {
        width: 30%;

        @media only screen and (max-width: 749.98px) {
          width: 100%;
          text-align: center;
        }

        .image-responsive {
          max-width: 100%;
          height: auto;
        }
      }

      .item-info {
        width: 70%;
        @media only screen and (max-width: 749.98px) {
          width: 100%;
          margin: auto;
        }
        overflow: hidden;
        overflow-wrap: break-word;
        word-wrap: break-word;

        h1 {
          word-wrap: anywhere;
        }

        .info .mat-form-field {
          max-width: 10rem;
        }

        a {
          text-decoration: none;
          color: #363636;
        }

        a:hover {
          h3 {
            text-decoration: underline;
          }
        }

        .comment {
          margin-top: 2rem;
        }

        .comment-title {
          h3 {
            padding-bottom: 0.1rem;
            margin-bottom: 0;
            overflow: hidden;
            word-wrap: break-word;
          }

          .rating {
            margin-right: 1rem;
          }

          margin-bottom: 1rem;
        }
      }

    }

    .action-buttons {
      display: flex;
      justify-content: flex-end;
      width: 33%;
      margin-left: 2%;
      @media only screen and (max-width: 749.98px) {
        margin-left: 0;
        justify-content: center;
        width: 100%;
      }

      ::ng-deep .mat-raised-button {
        width: 20rem;
        height: 5rem;
        @media only screen and (max-width: 749.98px) {
          margin: 2rem 0 auto;
          width: 100%;
        }
      }
    }
  }
}
