<div class="footer-container">
  <div class="footer-wrapper">
    <div class="navigate">
      <h1 class="footer-title">
        <span>JBuy</span> <span class="demo"> demo</span>
      </h1>
      <h3>
        <a class="link" routerLink="/">Home</a>
      </h3>
      <h3>
        <a class="link" [routerLink]="['/']" fragment="categories">Categories</a>
      </h3>
      <h3>
        <a class="link" routerLink="/">FAQ</a>
      </h3>
    </div>
    <div class="contact">
      <h2>Contact Information</h2>
      <div class="contact-info">
        <mat-icon>person</mat-icon>
        <span class="align-with-icon">Khoa Le</span>
      </div>
      <div>
        <mat-icon>mail</mat-icon>
        <span class="align-with-icon">khoale1308@gmail.com</span>
      </div>
    </div>
    <div class="about">
      <h2>About JBuy</h2>
      <div class="about-text">
        JBuy is a demo website to demonstrate an electronic eCommerce online store. Listed products are not real and we
        do not collect any payment information. Visitor are advised to not use any real personal or payment information.
      </div>
    </div>
  </div>
</div>
