<form id="searchForm" [formGroup]="searchForm"></form>
<mat-form-field appearance="outline" class="search-bar-field" (click)="$event.preventDefault()">
  <input #input matInput autocomplete="off" placeholder="Search for anything">
  <mat-select matPrefix class="category-select"
              disableOptionCentering
              (click)="$event.stopPropagation()"
              *appVar="categoryPage$ | async as categoryPage"
              [(value)]="selectedCategory">
    <mat-option (click)="input.focus()" value="All">All</mat-option>
    <mat-option (click)="input.focus()" *ngFor="let category of categoryPage.content" [value]="category.name">
      {{category.name}}
    </mat-option>
  </mat-select>
  <button mat-flat-button matSuffix (click)="$event.stopPropagation()">

    <mat-icon>search</mat-icon>
  </button>
</mat-form-field>
