<mat-form-field appearance="outline" class="search-bar-field">
  <input #input matInput autocomplete="off" placeholder="Search for anything">
  <mat-select matPrefix class="category-select"
              disableOptionCentering
              (focus)="input.focus()"
              *appVar="categoryPage$ | async as categoryPage"
              [(value)]="selectedCategory">
    <mat-option (focus)="input.focus()" value="All">All</mat-option>
    <mat-option (focus)="input.focus()" *ngFor="let category of categoryPage.content" [value]="category.name">
      {{category.name}}
    </mat-option>
  </mat-select>
  <button mat-flat-button matSuffix>
    <mat-icon>search</mat-icon>
  </button>
</mat-form-field>
