version: "3.8"
services:
  postgresql:
#    image: postgres:14-alpine
    image: jbuy_preload:latest
    ports:
      - "5432:5432"
    #    env_file: .env
    environment:
      POSTGRES_HOST: localhost
      POSTGRES_PORT: 5432
      POSTGRES_DB: jbuy
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpass
    volumes:
      - postgres-data:/var/lib/postgresql/data
  hazelcast-management-center:
    image: hazelcast/management-center:3.12.12
    ports:
      - "8081:8080"
    volumes:
      - hazelcast-man:/data

volumes:
  postgres-data:
  hazelcast-man: