.fill-remaining-spacer {
  flex: auto;
}

.toolbar-container {
  background-color: #363636;
}

.toolbar {
  background-color: #363636;
  max-width: 125rem;
  margin: auto;
  @media only screen and (max-width: 698.98px) {
    padding-top: 1rem;
    height: 4rem;
  }
}

.toolbar2 {
  background-color: #363636;
  max-width: 125rem;
  margin: auto;
  @media only screen and (min-width: 700px) {
    display: none;
  }
}

.title {
  //padding-left: 2rem;
  padding-right: 2rem;
  @media only screen and (max-width: 959.98px) {
    padding-left: 0;
    padding-right: 0;
  }
  font-size: 130%;
  a:link, a:visited {
    color: white;
    text-decoration: none;
  }
  a:hover, a:active {
    background-color: #363636;
  }
}

.search-bar-container {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  max-width: 60rem;
  width: 60rem;
  @media only screen and (max-width: 1149.98px) {
    width: 50rem;
  }
  @media only screen and (max-width: 999.98px) {
    width: 40rem;
  }
  @media only screen and (max-width: 699.98px) {
    display: none;
  }
  @media only screen and (max-width: 959.98px) {
    margin-left: 3rem;
  }
}

.search-bar-container2 {
  margin-bottom: 0.5rem;
  max-width: 65rem;
  width: 65rem;
  @media only screen and (min-width: 700px) {
    display: none;
  }
}

.sidenav-menu {
  width: 100%;
}

.sidenav-close-button {
  display: flex;
  justify-content: flex-end;
}

::ng-deep .mat-drawer-container.mat-drawer-container-has-open {
  background-color: white;
  max-height: calc(100vh - 12.6rem);
}

::ng-deep .mat-drawer-container {
  background-color: white;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 6.4rem);
  .main {
    flex: 1 0 auto;
  }
}

::ng-deep .mat-drawer-content {
  overflow: unset !important;
}

::ng-deep .mat-drawer-container {
  overflow: unset !important;
}
