.fill-remaining-spacer {
  flex: auto;
}

.toolbar-container {
  background-color: #363636;
}

.toolbar {
  background-color: #363636;
  max-width: 125rem;
  margin: auto;
}

.title {
  //padding-left: 2rem;
  padding-right: 2rem;
  @media only screen and (max-width: 959.98px) {
    padding-left: 0;
    padding-right: 0;
  }
  font-size: 130%;
  a:link, a:visited {
    color: white;
    text-decoration: none;
  }
  a:hover, a:active {
    background-color: #363636;
  }
}

.sidenav-menu {
  width: 100%;
}

.sidenav-close-button {
  display: flex;
  justify-content: flex-end;
}

::ng-deep .mat-drawer-container.mat-drawer-container-has-open {
  background-color: white;
  max-height: calc(100vh - 6.4rem);
}

::ng-deep .mat-drawer-container {
  background-color: white;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 6.4rem);
  .main {
    flex: 1 0 auto;;
  }
}
