<div class="toolbar-container" *appVar="{xSmall: 'xs' | matchMedia | async} as media">
  <mat-toolbar class="toolbar" color="primary">
    <span class="title"><a routerLink="/"><b>{{title}}</b></a></span>
    <app-category-menu></app-category-menu>
    <div class="search-bar-container">
      <app-search-bar></app-search-bar>
    </div>
    <span class="fill-remaining-spacer"></span>

    <app-navigation-bar-cart></app-navigation-bar-cart>
    <ng-container *ngIf="media.xSmall; else gtXSmall">
      <button mat-icon-button (click)="toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </ng-container>
    <ng-template #gtXSmall>
      <app-account-menu></app-account-menu>
    </ng-template>
  </mat-toolbar>

  <mat-toolbar class="toolbar2" color="primary">
    <div class="search-bar-container2">
      <app-search-bar></app-search-bar>
    </div>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" opened="false"
                 [fixedInViewport]="true"
                 [autoFocus]="false" class="sidenav-menu">
      <div class="sidenav-close-button">
        <button mat-icon-button (click)="toggle()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div *ngIf="!media.xSmall" ></div>
      <app-account-menu (onRouterLink)="toggle()"></app-account-menu>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <app-scroll-up-button></app-scroll-up-button>
      <div class="main">
        <ng-content></ng-content>
      </div>
      <div>
        <app-footer></app-footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!--<ng-container *ngIf="true | isLoading | async">-->
<!--  <app-loading></app-loading>-->
<!--</ng-container>-->
